/*
************  Main Page CSS ************
*/

/* main page css */
.main-page {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  min-height: 60px;
}

/*
************  Nav Bar CSS ************
*/

/* for nav bar container */
.nav-container{
  /* flex box set up */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* width setup */

  /* max-width: 1800px; */
  width: 100%;
  height: 100%;

  /* content justification */
  position: inherit;
  justify-content: space-between;
  justify-items: center;
  align-items: center;

  padding-top: 0px;
  margin: 0 auto;
}

.logo {
  width: calc(40px + 2vmin);
  height: calc(40px + 2vmin);
  display: flex;
  flex-wrap: wrap;
}

.logo-img {
  padding: auto;
  width: 43px;
  height: 43px;
  margin: 0 auto;
}

.title .furnitrade-title{
  justify-self: center;
  text-align: center;

  /* Centered "Furnitrade"*/
  align-self: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  /* TODO - remove the underline */
  text-decoration: none;
  
  /* TODO - plz delete after complete the theme */
  color: #3A8FB7;
}

.nav-drawer{
  position:right;
}

/*
************  End Nav Bar CSS ************
*/

/* slogan message part */
.slogan-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  /* width setup */
  max-width: 1800px;
  width: 100%;

  /* content alignment */
  justify-content: center;
  text-align: center;
}

.slogan-container .furnitrade {
  font-size: 18vw;
  font-weight: 300;
  font-family: "Righteous", sans-serif;
  line-height: 1.14286em;
  letter-spacing: -.04em;
}

.slogan-container .login-button {
  background-color: #F6BD60;
  padding: 14px 16px;
  border: none;
  height: 48px;
  border-radius: 4px;
  width: 45%;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.07px;
  line-height: 5px;
  text-transform: none;
}

.slogan-container .slogan {
  /* layout settings */
  -webkit-margin-before: 0.83em;
  margin-block-start: 0.83em;
  -webkit-margin-after: 0.93em;
  margin-block-end: 2em;
  
  /* text settings */
  text-align: left;
  font-size: 3vw;
  font-weight: 300;
}

.mainpage-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
  
  