/*
************  Main Page CSS ************
*/

.Index-group {
    margin: 0 auto;
    max-width: 500px;
    padding: 150px 50px;
    text-align: center;
}

.Index a{
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.7);
    padding: 9px 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Index p {
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    line-height: 1.5;
    animation: IndexAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    opacity: 0;
}

.Index a:hover {
    background: white;
    color: black;
}

.login-signup-group {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 40px;
}

@media (max-width: 640px) {
    .Index-group {
        padding: 100px 20px;
    }

    .Index h1 {
        font-size: 40px;
    }

    .Index p {
        font-size: 24px;
    }
  }

.Index .logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    margin: 100px 0;
    justify-items: center;
}

.logos img {
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
    width: 50px;
    height: 50px;
}

.logos img:hover {
    transform: translateY(-6px);
}

@media (max-width: 640px) {
    .Index .logos {
        grid-template-columns: repeat(3, 1fr);
    }
}

.one-category {
    position: inherit;
    justify-items: center;
}
