/*
************  Main Page CSS ************
*/

.Index-group {
    margin: 0 auto;
    max-width: 500px;
    padding: 150px 50px;
    text-align: center;
}

.Index a{
    font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.7);
    padding: 9px 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Index a:hover {
    background: white;
    color: black;
}

.login-signup-group {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 40px;
}

@media (max-width: 640px) {
    .Index-group {
        padding: 100px 20px;
    }
  
    .Index h1 {
        font-size: 40px;
    }
  
    .Index p {
        font-size: 24px;
    }
  }

  .Index svg {
    position: absolute;
    bottom: 0;
    left: 0;
}