.messageCard {
    /* margin: 0 auto; */
    width: 400px;
    width: 240px;
    color: aliceblue;
    /* padding: 10px 50px 50px 50px; */
}

.message {
    /* margin:auto 350px; */
    /* width: 200px;
    height: 100px; */
    width: 300px;
    height: 200px;
    /* justify-content: center; */
    /* display: grid; */
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    background-color: aliceblue;

    transition: 0.8s cubic-bezier(0.2, 0.82, 0.2, 1);
}

.message:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.message p {
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    align-self:end;
    margin: 0 0 20px 20px;
    z-index: 10;
}

.message h5 {
    color: black;
}

.message footer{
  font-size: 10px;
}
