

/* message's blocks style */

/* TODO */
.message-body {
    background-image: url('../../static/images/sofa.png');
    height:940px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.messagePage {
    text-align: center;
    justify-items: center;
}

.messageDetailCard {
  width: 66.6666666667%;
  margin: auto;
  left: auto;
  right: auto;
}

.messageDetailCard furnitureButton{
  margin: auto;
}

.myMessage h3 {
    color: rgba(26, 24, 24, 0.5);
    font-size: 50px;
}

.myMessage p {
    color: rgba(26, 24, 24, 0.5);
}

.message:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(245, 243, 243, 0.5);
}

.message p {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    align-self:end;
    margin: 0 0 20px 20px;
    z-index: 10;
}

.message footer{
  font-size: 10px;
}

.message h3 {
    margin: 50px auto;
    color: white;
    text-align: center;
    line-height: 1.2;
    opacity: 0;
    animation: IndexAnimation;
    animation-duration: 3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}
