aniso8601==3.0.2
blinker==1.4
boto3==1.9.43
botocore==1.12.43
Click==7.0
dnspython==1.15.0
docutils==0.14
flake8==3.6.0
Flask==1.0.2
Flask-Cors==3.0.6
Flask-HTTPAuth==3.2.4
Flask-Mail==0.9.1
Flask-RESTful==0.3.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
mccabe==0.6.1
pycodestyle==2.4.0
pyflakes==2.0.0
PyJWT==1.6.4
pymongo==3.7.1
python-dateutil==2.7.5
pytz==2018.5
s3transfer==0.1.13
six==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1
