/*
************  Single Furniture CSS ************
*/

.furniture {
}

.furniture-container {
    margin: 0 auto;
    max-width: 500px;
    padding: 150px 50px;
    text-align: center;
}

.furniture p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    line-height: 1.5;
    animation: IndexAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    opacity: 0;
}


/* image container - like card */
.each-fade {
  justify-content: center;
  width: 500px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25); */

  /* display */
  display: grid;
  grid-template-rows: 1fr 1fr;

  transition: 0.8s cubic-bezier(0.2, 0.82, 0.2, 1);
}

.each-fade:hover {
  transform: scale(1.01, 1.01);
}

.each-fade h2 {
  color:rgba(255, 255, 255, 0.8);
  font-size: 30px;
  margin: 90px 0 0 20px;
  width: 190px;
  z-index: 10;
}

.each-fade img {
  position: absolute;
  top: 0;
  height: 110%;
  z-index: 1;
  transition: 0.8s cubic-bezier(0.2, 0.82, 0.2, 1);
}

.each-fade {
}