.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;

    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

/* For scrolled */
.HeaderScrolled {
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;

    /* for Safari */
    backdrop-filter: blur(20px);
}

.Header-group {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
}

.Header a {
    color: white;
    font-weight: 700;
}

@media (max-width: 640px) {
    .Header {
        padding: 15px 0;
    }

    .Header-group {
        grid-template-columns: repeat(4, auto); 
    }

    .Header a:nth-child(4){
        display: none;
    }
}