/*
************  DeleteAlert CSS ************
*/

#alert-dialog-title h2{
    text-anchor: rgb(39, 34, 34);
}

button {
    padding: 8px 20px;
    font-size: 20px;
    color: white;
    background: #56CCF2;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

button:hover {
    color: #56ccf2;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-1px);
}