.subcategory {
    display: grid;
    grid-template-columns: 60px auto;
    grid-gap: 25px;
    align-items: center;
}

.collapsible {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;

    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    padding: 30px 0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
  }

/* Style the collapsible content. Note: hidden by default */
#content {
    max-height: 0px;
    width: 250px;
    padding: 0 18px;
    background-color: white;
    font-size: 12px;
    overflow: hidden;
    transition: max-height .2s ease-in-out;
    /*transition: max-height 0.2s ease-out;*/
}


#toggle{
    display: none;
    width: 20px;
    height: 20px;
    background: #ddd;
    border-radius: 100%;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

#toggle:checked +#content{
  max-height: 500px;
}
