.App {
  text-align: center;
}

html, body {
    width: 100%;
    min-height: 100%;
    
    /* restrict min size */
    min-width: 360px;
    min-height: 500px;
}

/* .button:hover {
    background-color: #F6BD60;
} */
.App-header {
  background-color: #3A8FB7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1800px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
